<div class="row">
   <div class="col-md-8">
     <h1>Tag: <%= @tag.name %></h1>
     <% @tag.recipes.each do |recipe| %>
       <div>
         Recipe: <%= link_to recipe.name, recipe %>
       </div>
     <% end %>
   </div>
 </div>
